<div class="container">
    <div class="input-align">
        <div class="login-card">
            <div class="login-card-header">
                <h1>Sign In</h1>
                <div>Please login to use the platform</div>
            </div>
            <form [formGroup]="formLoginUser" class="login-card-form">
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded"><i class="fa fa-envelope"></i></span>
                    <input 
                        type="email" 
                        formControlName="email"
                        placeholder="Enter email"
                    >
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded"><i class="fa fa-lock"></i></span>
                    <input 
                        type="password" 
                        formControlName="password"
                        placeholder="Enter Password"
                    >
                </div>
                <div class="form-item-other">
                    <div class="checkbox">
                        <!-- <input type="checkbox" id="rememberMeCheckbox" checked>
                        <label for="rememberMeCheckbox">Remember me</label> -->
                    </div>
                    <a href="#">I forgot my password!</a>
                </div>
                <button type="submit" (click)="onSubmit()">Sign In</button>
            </form>
            <div class="login-card-footer">
                Don't have an account? <a href="/auth/register">Create a free account.</a>
            </div>
        </div>
    </div>
</div>
