.btn-custom-file{
  width: 200px;
  height: 50px;
  border: solid 3px #ec8b0c;
  background: #ec8b0c;
  color: white;
  border-radius: 8px;
  font-size: 15px;
}

.input-custom{
  display: none;
}

.img-back{
  background-image: url(../../assets/images/fondo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
